# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.cache
Cliente_test/Cliente/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Cliente_test/Cliente/.vs/Version 1/v17/TestStore/0/testlog.manifest
Cliente_test/Cliente/.vs/Version 1/v17/TestStore/0/000.testlog
Cliente_test/Cliente/.vs/Version 1/v17/.suo
Cliente_test/Cliente/.vs/Version 1/FileContentIndex/dba7b892-1f4b-4510-b94b-8c4736f2ca83.vsidx
Cliente_test/Cliente/.vs/Version 1/FileContentIndex/d1c9cf9c-8625-4d60-8d09-a972ecca74cb.vsidx
Cliente_test/Cliente/.vs/Version 1/FileContentIndex/992b6af4-a4a8-445c-b6ec-13231b10e590.vsidx
Cliente_test/Cliente/.vs/Version 1/FileContentIndex/64046aed-0c39-4691-89d3-847c57228e42.vsidx
Cliente_test/Cliente/.vs/Version 1/FileContentIndex/630bb999-45b1-49fc-b755-4aecda7988f0.vsidx
Cliente_test/Cliente/.vs/Version 1/FileContentIndex/5ab5769c-2911-4e78-8feb-edd836ce79ee.vsidx
Cliente_test/Cliente/.vs/Version 1/FileContentIndex/2a5fcf0e-7842-4ea3-906e-42bacc4806f0.vsidx
Cliente_test/Cliente/.vs/Version 1/FileContentIndex/086f94d3-6878-4446-a897-1e76a1a5dc08.vsidx
Cliente_test/Cliente/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Cliente_test/Cliente/.vs/Version 1/v17/.suo
Cliente_test/Cliente/.vs/Version 1/FileContentIndex/dba7b892-1f4b-4510-b94b-8c4736f2ca83.vsidx
Cliente_test/Cliente/.vs/Version 1/FileContentIndex/992b6af4-a4a8-445c-b6ec-13231b10e590.vsidx
Cliente_test/Cliente/.vs/Version 1/FileContentIndex/630bb999-45b1-49fc-b755-4aecda7988f0.vsidx
Cliente_test/Cliente/.vs/Version 1/FileContentIndex/086f94d3-6878-4446-a897-1e76a1a5dc08.vsidx
Cliente_test/Cliente/.vs/*
Client_Unity/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/lld
Client_Unity/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/lld
Client_Unity/Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@2.0.4/data~/payload.tar.7z
Client_Unity/Temp/FSTimeGet-99825bdd68197af4a8c04bc02bf9ab2e
Client_Unity/Temp/UnityLockfile
*.dag_fsmtime
*.bin
Cliente_test/Cliente/.vs/Version 1/v17/.suo
*.dag_fsmtime
*.dag_fsmtime
*.traceevents

*.digestcache
*.state
*.bhc
Client_Unity/Library/Bee/1900b0aE.dag_fsmtime
Cliente_test/Cliente/.vs/Version 1/v17/.suo

*.suo
Cliente_test/Cliente/.vs/Version 1/v17/.suo
*/[Ll]ibrary/
*/[Tt]emp/
*/[Oo]bj/
*/[Bb]uild/
*/[Bb]uilds/
*/Assets/AssetStoreTools*

# Visual Studio 2015 cache directory
*/.vs/

# Autogenerated VS/MD/Consulo solution and project files
*/ExportedObj/
*/.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

# Unity3D generated meta files
*.pidb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage
*.log

# Unity Layouts
Client_Unity/UserSettings/Layouts
